employee/__pycache__/
employee/settings/__pycache__/
employee/settings/local.py
applications/__pycache__/
applications/department/__pycache__
applications/department/migrations/__pycache__
applications/person/__pycache__
applications/person/migrations/__pycache__
applications/home/__pycache__
applications/home/migrations/__pycache__
images/
credentials.txt
