<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Department</title>
    </head>
    <body>
        <h1>Search for a department</h1>
        <form method="get">
            {% csrf_token %}
            <input type="text" name="keyword" id="keyword" placeholder="Department name" />
            <button type="submit">Search</button>
        </form>
        <br />
        {% if department_list %} Results:
        <ul>
            {% for department in department_list %}
            <li>{{department.name}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
