{% extends 'base.html' %} {% load static %} {% block title %} {{ person }} {% endblock %} {% block content %}
{% load crispy_forms_tags %}
{% include 'includes/header.html' %}

<div class="container mt-5 d-flex justify-content-center">
    <!-- <div class="row">
        <p>{{ person.skills }}</p>
    </div> -->

    <div class="card col-4">
        <div class="card-body">
            <h4 class="card-title">{{ person }}</h4>
            {% if person.image %}
            <img src="{{ person.image.url }}" class="card-img-bottom img-fluid">
            {% else %}
            <img src="{% static 'img/default.png' %}" class="card-img-bottom img-fluid">
            {% endif %}
            <h5>{{ person.job_title }}</h5>
            <p class="card-text">{{ person.department.short_name }}</p>
            <p class="card-text">{{ person.get_branch_display }}</p>
            <p class="card-text">{{ person.email }}</p>
            <label>Skills:</label>
            <ul class="list-group mb-5">
                {% for skill in person.skills.all %}
                <li class="list-group-item list-group-item-success mb-1">{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}